.services {
    display: none;
   @media screen and (min-width:768px) {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    & article {
        max-width: 30vw;
        margin: 1rem;
        height: max-content;
        box-sizing: border-box;
        box-shadow: 0px 12px 24px rgba(137, 130, 130, 0.17);
        & header{
            position: relative;
            & img{
                position: relative;
                min-width: 330px;
                width: 100%;
                max-height: 220px;
                object-fit:cover;
                top: 0;
                left: 0;
            }
        }
        & h2{
            @apply bg-primary-color text-white text-3xl font-medium -right-3 bottom-1/2 absolute rounded-md px-3;
        }
        & p{
            @apply mt-8 px-4 pb-20;
        }
    }
   }
}