
@media screen and (max-width:1024px) {
    section[data-name="our-services"]{
        .services {
            display: flex;
            overflow: hidden;
            justify-content: center;
            flex-direction: row;
        }
    }  

       
    }
    @media screen and (min-width:1024px) {
        .services {
            @apply flex flex-row justify-evenly items-center basis-4/5;
            & article {
                @apply max-w-3/10 m-4 h-max box-border shadow-shadow-main;
                & header{
                    @apply relative;
                    & img{
                        @apply relative w-full max-h-200px object-cover top-0 left-0;
              
                    }
                }
                & h2{
                    @apply bg-primary-color text-white text-3xl font-medium -right-3 top-2/5 absolute rounded-md px-3;
                }
                & p{
                    @apply mt-8 px-4 pb-20;
                }
            }
        }    
    }