footer{
    @apply w-full h-screen bg-primary-color relative text-white;
    & .newsletter{
        @apply flex flex-row justify-evenly h-15vw items-center;
        & h2 {
            @apply text-3xl uppercase;
        }
        & div{
            & input{
                @apply
                py-4 px-12
                 rounded-sm relative border-none
                 placeholder:text-primary-color placeholder:font-bold
                bg-white appearance-none block pr-14 focus:outline-none ;  
                
            }
        
        }
    }
    & .social-medias {
        @apply flex flex-col items-center absolute inset-x-0 bottom-0 h-16 mb-12;
        & ul {
            @apply flex justify-center items-center h-3/10;
            
            & li{
            
                & span {
                    @apply hidden;
                }
            }

        }
    }
    & section {
        @apply flex lg:flex-row lg:items-center lg:justify-around
                    md:flex-col md:py-12    ;
      
        & .group {
            @apply flex flex-col items-center;
            & h3{
                @apply text-2xl;
            }

            & ul {
                @apply flex flex-col;
                & li{
                    @apply py-4 w-48 md:w-full lg:w-fit;
                }
            }
        }

    }

}
@media screen and (max-width:900px) {
  footer{
      height: max-content;
    .newsletter {
        flex-direction: column;
        flex-basis: 100%;
        padding: 3rem 0;
        div {
            label {
                input{
                    margin: 3rem 0;
                }
            }
        }
    }
    .links {
        flex-direction: column;
        height: 120vh;
        & .group {
            & h3 {
                padding: 1rem 0;
            }
            & ul li {
                width: max-content;
            }
        }
    }
    .social-medias{
        bottom: 0;
        margin: -1rem 0;
    }
  }
}