

@media screen and (min-width:640px ) and (max-width:768px){
  #our-services {
    height: 125vh;
    .swiper{
      overflow: hidden;
      & .swiper-wrapper{
        & .swiper-slide{
          flex-basis: 100%;
          width: fit-content;
        
          & article{
            width: 600px;
            & header{
              width: 185%;
            }
          }
        }
      }
    }
@media screen and (min-width:768px) and (max-width:900px){
  #our-services {
    height: 125vh;
    .swiper{
      overflow: hidden;
      & .swiper-wrapper{
        & .swiper-slide{
          flex-basis: 100%;
          width: fit-content;
        
          & article{
            width: 600px;
            & header{
              width: 185%;
            }
          }
        }
      }
    }
   

  }

}

  }

}
  .swiper-wrapper .box:hover .content {
    transform: translate(0rem, 10rem);
    position: relative;
    top: 0;
  }
  .swiper-wrapper .box:hover .imgBox {
    transform: translate(0rem, 0rem);
    z-index: 100;

  }
@media screen and (min-width:1023px) {
  #our-team {
    & .swiper-wrapper{
      flex-wrap: wrap;
      & .swiper-slide {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        position: relative;
        transition-property: transform;
        flex-basis: 33%;
        padding: 1rem;
        .box {
          position: relative;
          width: 15rem;
          height: 15rem;
          margin: 4rem;
          &:hover {
            .imgBox {
              transform: translate(-3, -3);
            }
            .content {
              transform: translate(3, 3);
            }
          } 


          .imgBox{
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 2;
            transition: all 0.5s ease-in-out;
            img {
              width: 15rem;
              height: 15rem;
              object-fit: cover;
              resize: both;
            }
          }
          .content {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 1.5rem;
            display: flex;
            justify-content: center;
            color: #fff;
            background-color: var(--primary-color);
            z-index: 1;
            align-items: flex-end;
            text-align: center;
            transition: 0.5s ease-in-out;
            h2 {
              display: block;
              font-size: 1.5rem;
              font-weight: 500;
              line-height: 2rem;
              letter-spacing: 1px;
            }
            span {
              
              font-size: 1.2rem;
              font-weight: 300;
              letter-spacing: 2px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width:768px){
  #our-services {



    .swiper {
      width: 100%;
      height: max-content;
      overflow: unset;
    }
    .swiper-wrapper {
        position: initial;
        width: initial  ;
        
    }
    
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      flex-basis: 33%;
      padding: 20px;
      /* Center slide text vertically */
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      -webkit-align-items: center;
      align-items: center;
    }
    
    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    html .swiper-pagination {
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0,0,0);
        z-index: 270;
        inset: 97% 0% 0% 0%;
    }
    
    section {
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: space-around;
    
    }
    aside{
        flex-basis: 25%;
    }
    }
    #our-team {
      height: 125vh;
      .swiper{
        overflow: hidden;
  
        
      }
     
  
    }
}