.team_member{
  @apply relative h-max;
  & .information{
    & .team_member_name {
      @apply absolute w-full h-0 inset-0 left-1/10;
      @apply xl:flex-1-0->1/5
    
      xl:opacity-100
      xl:hover:opacity-100
      xl:duration-300
      xl:absolute
      xl:inset-0
      xl:z-10
      xl:text-4xl
      xl:text-white
      xl:font-semibold;
  
    }
  }
  

 
  }
