.team_member{
    flex: 1 0 21%;
    padding:  0 1rem;
    

  position: relative;

  & span.team_member_name{
   // @apply z-10 opacity-0 duration-300 absolute bottom-24 left-12 hover:opacity-100 text-white;
    @apply pt-72 opacity-0 hover:opacity-100 duration-300 absolute left-12 bottom-4 inset-0 z-10 text-4xl text-white font-semibold;
  }
  }